.line{
    background-color: black;
    width: 500px;
    height: 5px;
    margin: 8px auto;
}

body{
    background-color: deepskyblue;
}

.imgg{
    width: 175px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.par{
    text-align: left;
    font-family: sans-serif;
    font-size: 20px;
}

.animelist{
    text-align: left;
    font-family: sans-serif;
    font-size: 18px;
}

.heading{
    font-family: monospace;
    text-align: center;
    text-shadow: 1px 1px;
}

#menu{
    display: inline;
    list-style: none;
    text-align: center;
    font-family: monospace;
    text-shadow: 1px 1px;
    font-size: 20px;
    padding-left: 1250px;
}

.menulist{
    display: inline;
}